
header{
    background-color: orange;
}
h1{
    display: block;
    text-align: center;
    
}
html{
    background-image: url(/imagenes/escuela.jpg);
    background-repeat: no-repeat;
    background-position: 122px 100px;
}
body h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
    font-size: 50px;
    color: yellow;
}
.nav a{
    color: black;
    text-decoration: none;
    padding: 40px ;
}
.nav li{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px
    ;
}
.nav{
    padding: 0px 500px 20px;
}